#container {
  position: relative;
}

#idSearchContainer {
  justify-content: center;
  margin-top: 10px;
  display: flex;
}

#mapContainer {
  margin-top: 10px;
  display: flex;
}

#locationLogContainer {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

#bottomBarContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20vh;
  background-color: white;
}